@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-color: #BF7B3F;
$secondary-color: #5D8AA6;
$tertiary-color: #D7D7D9;
$quaternary-color: #184059;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none
}

a {
    color: white;
    text-decoration: none;
}

img {
    z-index: 1;
}