@include mediaSmall {
    body {
        header {
            .main-nav {
                position: fixed;
                width: 100%;
                top: 0;
                right: 0;
                padding-top: 5px;
                padding-bottom: 5px;
                margin: 0 auto;
                background-color: $primary-color;
                border-bottom: 1px solid rgba(255, 255, 255, .3);
                z-index: 2;

                ul {
                    li {
                        margin: 5px;

                        a {
                            i {
                                font-size: 1.5rem;
                            }

                            span {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }

            .menu-btn {
                position: fixed;
                width: 45px;
                height: 40px;
                padding: 5px;
                z-index: 1;
                background-color: $primary-color;
                border-radius: 5px;
            }

            .title-container {
                width: 85%;
                text-align: center;

                h1 {
                    font-size: 1.5rem;
                }

                h2 {
                    font-size: 1.1rem;
                }
            }

            .request-container {

                z-index: 0;

                span {
                    font-size: 1rem;

                    strong {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        main {
            .container {
                &.home {
                    .dog-container {
                        .dogtail {
                            bottom: 50px;

                            img {
                                height: 150px;
                            }
                        }
                    }

                    .start-screen {
                        .start-title-container {

                            margin-top: 30px;

                            h1 {
                                font-size: 1.8rem;
                            }

                            h2 {
                                font-size: 1.5rem;
                            }
                        }

                        .main-nav {
                            margin-top: 20px;

                            ul {
                                li {
                                    a {
                                        width: 130px;
                                        margin: 10px;

                                        i {
                                            font-size: 1.2rem;
                                        }

                                        span {
                                            font-size: 1rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.about {
                    div {
                        flex-wrap: wrap;
                        text-align: center;

                        img {
                            order: 2;
                        }

                        p {
                            order: 1;
                        }
                    }
                }

                &.adoption {
                    grid-template-columns: 1fr;

                    .card {
                        height: 250px;
                        width: 250px;
                    }
                }

                &.volunteering {
                    .volunteering-container {
                        img {
                            max-height: 250px;
                        }
                    }
                }

                &.contact {
                    .map {
                        height: 250px;
                        width: 250px;
                        margin-top: 20px;

                        iframe {
                            height: 250px;
                        }
                    }
                }
            }
        }
    }
}

@include mediaMedium {

    body {
        header {
            .main-nav {
                width: 100%;
                top: 0;
                right: 0;
                margin: 0 auto;
                transform: translateY(0);

                ul {
                    li {
                        margin: 5px;

                        a {
                            i {
                                font-size: 1.5rem;
                            }

                            span {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }

            .menu-btn {
                display: none;
            }

            .title-container {
                h1 {
                    font-size: 2.4rem;
                    letter-spacing: 1px;
                }
            }
        }

        main {
            .container {
                &.home {
                    .dog-container {
                        .dogtail {
                            bottom: 90px;

                            img {
                                height: 200px;
                            }
                        }
                    }

                    .start-screen {
                        .start-screen-nav {
                            margin-top: 20px;
                        }
                    }
                }

                &.adoption {
                    grid-template-columns: repeat(2, 1fr);

                    .card {
                        height: 230px;
                        width: 230px;
                    }
                }
            }
        }
    }
}

@include mediaBig {
    body {
        header {
            .title-container {
                h1 {
                    font-size: 2.7rem;
                    letter-spacing: 1px;
                }
            }
        }

        main {
            .container {
                &.home {
                    .dog-container {
                        .dogtail {
                            bottom: 120px;

                            img {
                                height: 250px;
                            }
                        }
                    }

                    .start-screen {
                        .start-screen-nav {
                            margin-top: 130px;
                        }
                    }
                }
            }
        }
    }
}

@include mediaLarge {
    body {
        header {
            .main-nav {
                max-width: 1100px;
                right: 50%;
                transform: translateX(50%);
            }

            .title-container {
                margin-top: 75px;
            }
        }

        main {
            .container {
                &.home {
                    .dog-container {
                        .dogtail {
                            bottom: 150px;

                            img {
                                height: 250px;
                            }
                        }
                    }

                    .start-screen {
                        .start-screen-nav {
                            margin-top: 120px;
                        }
                    }
                }

                &.adoption {
                    grid-template-columns: repeat(3, 1fr);

                    .card {
                        height: 300px;
                        width: 300px;
                    }
                }
            }
        }
    }
}