@import 'config';

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 250px 1fr 30px;
    overflow-x: hidden;

    header {
        background-color: #49A669;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .5);
            z-index: 0;
        }

        .main-nav {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 50%;
            z-index: 1;

            ul {
                display: flex;
                justify-content: space-evenly;

                li {
                    position: relative;
                    transition: .3s;
                    white-space: nowrap;

                    &:hover i {
                        transform: scale(.8);
                        opacity: .3;
                    }

                    &:hover span {
                        opacity: 1;
                    }

                    i {
                        transition: .3s;
                    }

                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: white;
                        font-weight: bold;
                        opacity: 0;
                        z-index: -1;
                    }
                }
            }
        }

        .welcome {
            color: white;
            z-index: 1;
        }

        .social {
            position: absolute;
            right: 10px;
            bottom: 10px;
            z-index: 1;
        }
    }

    main {
        margin: 0 auto;
        padding: 20px;
        width: 100%;
        max-width: 1100px;
        background-color: #F2F2F2;

        &.start {
            // background-image: url(/Dist/Img/dog.png);
            // background-position: center bottom;
            // background-repeat: no-repeat;
            // background-size: contain;

            .dogtail {
                position: absolute;
                left: 45%;
                bottom: 150px;
                animation: swing .3s linear infinite;
                animation-direction: alternate;
                transform-origin: bottom center;
                opacity: .7;

                img {
                    height: 300px;
                }
            }

            .dog {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                max-width: 800px;
                z-index: 2;

                img {
                    width: 100%;
                }
            }
        }

        &.about {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .about-container {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                img {
                    width: 30%;
                    max-width: 300px;
                }
            }
        }

        &.volunteering {
            display: flex;
            flex-direction: column;
            text-align: justify;

            h2 {
                margin: 10px 0 20px 0;
            }

            p {
                margin-bottom: 20px;
            }

            .volunteering-container {
                display: flex;
                justify-content: space-evenly;
                margin-top: 10px;
                flex-wrap: wrap;

                img {
                    max-height: 300px;
                }
            }
        }

        &.contact {

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;

            .contact-info {
                p {
                    margin-bottom: 10px;
                }
            }

            .map {
                height: 400px;
                width: 400px;
                z-index: 2;
            }
        }

        .paws {
            position: absolute;
            opacity: .2;

            &.small {
                left: 0;
                bottom: 0;
                height: 400px;
            }

            &.big {
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }

            img {
                height: 100%;
            }
        }
    }

    footer {
        text-align: center;
        line-height: 30px;
        background-color: #2F736C;
    }
}

@keyframes swing {
    0% {
        transform: rotate(45deg) skew(-15deg, -15deg);
    }

    50% {
        transform: rotate(0) skewX(0);
    }

    100% {
        transform: rotate(-45deg) skew(15deg, 15deg);
    }
}